<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="host" value="localhost"/>
    <add key="port" value="3306"/>
    <add key="db_name" value="toko_emas_mulia"/>
    <add key="username" value="admin_db"/>
    <add key="password" value="admin1234"/>
  </appSettings>
</configuration>