
sources/WindowsFormsApp1/.vs/WindowsFormsApp1/v16/Server/sqlite3/db.lock

*.pdb

*.exe

sources/WindowsFormsApp1/WindowsFormsApp1/obj/Debug/

sources/WindowsFormsApp1/WindowsFormsApp1/bin/Debug/
